
/* The nav bar part */
header{
    background-color:  #343434;
}

li{
    padding-left: 40px;
}

#link{
    color: white;
    transition: 1.2s;
    
}

#link:hover{
    font-size: 20px;
    color: blue;    
    text-shadow: 2px 2px 2px  2px solid red;
    
}


/* Ends here */


/* Firstbody section */
.firstbody{

    padding-top: 130px;
    background-image: url('img/bg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
     padding-bottom: 100px;
    display: flex;
    justify-content:space-around;
}

#mypic{
    
    width: 100%;
    border-radius: 50% ;
    border-style: groove;
    
}

.text{
    margin-left:30px;
}


.buttons{
    margin-left: -40px;
    
}
#but{
    margin-top: 50px;
    margin-left: 20px;
    transition: 0.5s;

}

#but:hover{
transform: scale(1.4);
}

@media(max-width:737px){
    
.firstbody{
    
    display: block;
    
}
#mypic{
    
border-radius: 10% ;
    margin-left: 5%;
    width: 90%;
    height: 500px;
    
}

#but{
    margin-top: 50px;
    margin-left: 20px;
    transition: 0.5s;

}

.text{
    margin-top: 100px;
    text-align: center;
    
}



/* Second Section */

}
.secondbody{
    padding:70px 30px;
    background-color: wheat;
    
}

.text2{
    text-align: center;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

/* Ends here */



/* Third body section */
.thirdbody{
    margin-top: 80px;
}

.skills{
    text-align: center;
    
    text-decoration: underline red 8px; 
}

#course{
    border-radius: 10px;
     padding: 80px 20px;
    transition: 0.5s;
    height: 490px;
}

#course:hover{
    transform: scale(1.1);
}
  
#image2{
    width: 60%;
}
a{
    text-decoration: none;
    
}

@media(max-width:991px){

.java{
    height: 100%;
    width: 50%;
   position: relative;
   
   left:30%;

   
}
.python{
    height: 100%;
    width: 50%;
    position: relative;
    left: 30%;
}

}

@media(max-width:575px){
    #course{
        border-radius: 10px;
         width: 80%;
         position: relative;
         left: 5%;
        
        height: 490px;
    }
    
    .java{
    
   
   width: 95%;
    left: 3%;   
    }
    
.python{
    left: 3%;
    width: 95%;
  
}
}

/* Fourthh body section */
.fourthbody{
    margin-top: 100px;
    background-image: url('img/bg2.jpeg');
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px  2%;
    
    display: flex;
    justify-content: space-around;
}

form{
    margin-top: 70px;
}
label{
    color: white;
    font-size: 30px;

}

input,select{
    border: none;
    border-bottom: 5px  solid  black;
    background-color:#343434;
    width: 100%;
    height:40px;
    color: white;
    font-size: 25px;
}

.contact{
    margin-top: 100px;
}


#location{
    display: flex;
    justify-content: space-evenly;
}
#loc{
    margin-top: 20px;
    width: 80px;
    height: 100px;
}



@media(max-width:600px){
    
.fourthbody{
    margin-top: 100px;
    
    background-image: url('img/bg2.jpeg');
    
    background-size: cover;
    background-repeat: no-repeat;
    
    display: block;
    padding-left: 30px;
}
input,select{
    border: none;
    border-bottom: 5px  solid  black;
    background-color:#343434;
    width: 80%;
    height:40px;
    color: white;
    font-size: 25px;
    
}

.contact{
    margin-left: -12%;
}


}


.fifthbody{
    background-image: url('img/bg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
#icon{
    padding-left: 30px;

}




@media(max-width:600px){
    
.fifthbody{
    background-image: url('img/bg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    display: block;
    padding-left: 15%;
    padding-bottom: 50px;
    
}
#icon{
    padding-left: 70px;

}


}




/*Footer Section*/

/* Making the List style none */

ul{
    list-style-type: none;
}
li{
    padding-top: 6px;
}
/* The anchor tag of in the list tag */
a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
/* Ends here */


/* The  first footer of the page */
.footer1{

    color: white;
    background-color: black;
    height: 290px;
    display: flex;
    padding-top: 40px;
    font-size: 20px;
    justify-content: space-evenly;
}

.innerfooter{
    margin-top: 13px;
    display:flex;
}


.innerfootertext2{
    padding-left: 100px;
}


.innerfootertext3{

    padding-left: 1%;
}

@media(max-width:765px){
        
    .footer1{
    
        
        color: white;
        background-color: black;
        height: 492px;
        display:block;
        padding-top: 40px;
    }
    
.innerfooter{
    margin-top: 13px;
    display:flex;
     margin-left: -10%;        
}

.innerfootertext2{

    padding-left: 10%;
}


.innerfootertext3{
    margin-top: 30px;
}

}


/* Copyright*/
.copyright{
    
    text-align: center;
    background-color: black;
    color: white;
padding: 10px 20px;
}