
/* A general styling to the website */

/* Ends here */

/* Nav bar */

li{
    padding-left: 70px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
  .topdesign{
    cursor: pointer;
}
 .topdesign .Skilline{
    font-weight: 1000px;
    font-size: 23px;
    margin-left: 40%;
    position: relative;
    /* Z-index is to make the text come forward on the object */
    z-index: 2;
}


  .topdesign .diamond{
    width: 60%;
    height: 40px;
    background-color:skyblue    ;
    transform: rotate(34deg);
    position: relative;
    top: 40px;
    left: 20px;   
}

  
/* Nav bar end */



/* Button1 */
.button1 {
    padding: 13px 40px;
    
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
    
}

/* Button2 */
 .button2 {
    margin-left: 7px;
    padding: 13px 40px;
    border-radius: 30px;

    border: none;
    background-color: orange;
    
    cursor: pointer;
    

    
}

/* Section1 */

.section1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section1 #image{
    width: 100%;
    
}

.section1 #text{
    margin-top: 50px;
}

.section1 #text button{

    padding: 5px 30px;
    background-color: orange;
    border-radius: 10px;
    
}


@media(max-width:800px){
  
.section1{
  margin-top: 100px;
  margin-left: 5%;
}
.section1 #image{
  width: 90%;
  
}

.section1 #text{
  margin-top: 50px;
}



}
/* Ends here */



/* Section2 */




.section2{
  margin-top: 100px;
  display: flex;

  justify-content: space-evenly;
  margin-left: 3%;
}

.section2 #innerfirst #image{
  width: 70%;

}


.section2  #innerfirst #text{
  margin-top: 50px;
  width: 100%;
padding-right: 15px;  
}

.section2  #innerfirst #text p{
  
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 32px;
}

.section2 #text button{

  padding: 5px 30px;
  background-color: orange;
  border-radius: 10px;
 
}



.section2 #innersecond #image{
  margin-left: 10%;
  width: 70%;
}

.section2 #innersecond #text{
  margin-top: 70px;
  width: 100%;
}



.section2  #innersecond #text p{
  
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 32px;
}



/* Ends here */

/* At media query for section2 */

@media(max-width:600px){
  .section2{
    margin-top: 100px;
    display: block;
  
    
    margin-left: 3%;
  }


  .section2 #innerfirst #image{
    width: 80%;
    
    
  }
  
.section2 #innersecond #image{
  width: 80%;
}

  .section2  #innerfirst #text{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    
    
  }
  .section2 #innersecond #text{
    margin-top: 70px;
    text-align: center;
    width: 100%;
  }
  
  
}
/* Ends here */





/* Section3 */


.section3{
  margin-left: 2%;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  
}

.section3 div #image{
  margin-top: 50px;
  width: 100%;
}


.section3 div button{

  padding: 5px 30px;
  background-color: orange;
  border-radius: 10px;
  
}
.section3 #text{
  margin-top: 70px;
  width: 40%;
  
  
}

.section3 #text  p{
  font-size: 18px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 30px;

     
}



/* Ends here */

/* At media query for section3 */




@media(max-width:800px){
  
  .section3{
    margin-left: 3%;
    margin-top: 100px;
    display: block;
  }
  .section3 div #image{
    width: 90%;
  }
  
  .section3 #text{
    width: 90%;
    text-align: center;
  }
  
}

/* Button design */
.see{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see button{
  padding: 20px 40px;
  border-color: orange;
  background: white;
  border-radius: 20px;
  transition: 2s;
}
.see button a{
  text-decoration: none;
  color: black;
}
.see button:hover{
  background-color: orange;
  color: white;
}


/* Ends here */





/* Section4 */

.section4{
  margin-left: 2%;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.section4 div #image{
  width: 100%;
}
.section4 div button{

  padding: 5px 30px;
  background-color: orange;
  border-radius: 10px;
  
}
.section4 #text  p{
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 33px;
     
}


.section4 #text {
  width: 40%;
  
}

.section4 #text p{
  font-size: 18px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 30px;
  

}

/* Ends here */

/* At media query for section3 */

@media(max-width:800px){
  
  .section4{
    margin-left: 3%;
    margin-top: 100px;
    display: block;
  }
  .section4 div #image{
    width: 90%;
  }
  
  .section4 #text{
    width: 90%;
    text-align: center;
  }
  
}

/* Ends here */





/* Ends here */

/* Footer */
.footer{
    margin-top: 100px;
    background-color: darkslateblue;
    padding: 50px 10px;
    color: white;
}
#footer{
    display: flex;
    justify-content: center;
}

.footer #footer div #virtual{
    font-size: 20px;
    margin-left: 20px;
    
}

.footer #footer div #virtual::before {
    content: "";
    
    border-left: 1px solid white;
    width: 0px;
    height: 90%;
    margin-right: 10px;
  }
  
  .footer div{
    margin-top: 40px;
    text-align: center;
  }
  
  .footer div p{
    font-size: 20px;
  }
  .footer div input{
    border-radius: 30px;
    background-color: darkslateblue;
    color: white;
    
  }
  
  .footer div button{

    border-radius: 30px;
    padding: 6px 30px;
    background-color:blue;
    color: white;
  }
/* Footer Ends here */