
/* Navigation Section */
.nav{
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    list-style-type: none;
    justify-content: space-between;
    background-color: rgb(223, 212, 212);
}
    
/* For the flora monk */
h3 a{
    text-decoration: none;
    
}
/* For The nav bar */
ul li a{
    text-decoration: none;
    font-size: 23px;
    color: black;
    
}

/* Styling for List Items  */
li{
    display: inline;
    padding-right: 40px;
}

@media(max-width:768px){
    li{
        display: inline;
        padding-right: 10px;
    
    }
    #flora{
        margin-left: 70px;
    }
       
} 

.display{
    height: 400px;
}
.sec1{
    margin-top: 100px;
    display: flex;
    
}

/* .display{ */

@media(max-width:765px){
    .sec1{
        display: block;
    }
        .text{
            
            padding-left: 30px;
            
        }
}



.decription{
margin-left: 50px;
margin-top: 40px;
margin-bottom: 100px;
}
.text{
    /* border: 1px solid black; */
    
    font-weight: bold;
}


.innerbody{
    display: flex;
    justify-content: space-around;
    
}

@media(max-width:765px){

    .innerbody{
        display: block;
           
    }
    
}
p{
    font-size: 20px;
}


#relatedproductimage{
    width: 360px; 
    height:460px;
}
#innertext{
    margin-left:100px;
}

.Footer{
    margin-top: 130px;
    
    text-align: center;
    background-color: black;
    color: white;
padding: 20px;
}